.app-wrapper {
  display: grid; /* display - отображать */
  width: 1200px;
  grid-template-areas: /* template - шаблон */
   'h h'
   'n c'
   'f f';
  grid-template-columns: 1fr 10fr; /*columns столбцы */
  grid-template-rows: 3rem 1fr 3rem/*rows ряды*/
}
.app-wrapper-content {
  grid-area: c; /*area - пространство */
}
